
.header{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3 );

}
.header ul{
    text-align: center;
    margin-top: 0;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 20px ;
    transition: all ease 0.5s;
    margin-left: 25px;
}

.header ul li a:hover{
    background-color: rgba(0, 0, 0, 0.301);
    margin-bottom: 1em;
    
    
}
.header h1{
    margin:10px;
    color: rgb(243, 243, 243);
    margin-right: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
